<%= form_with model: @profile do |form| %>
  <div class="container">
    <div class="mb-3">
      <%= form.hidden_field :user_id, value: current_user.id %>
    </div>

    <div class="mb-3">
      <%= form.label :title, "Name :", class: "form-label" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :title, "Mobile :", class: "form-label" %>
      <%= form.text_field :mobile, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :title, "Gender :", class: "form-label" %>
      <%= form.text_field :gender, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :title, "Date of birth :", class: "form-label" %>
      <%= form.text_field :date_of_birth, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :title, "Address :", class: "form-label" %>
      <%= form.text_field :address, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :title, "City :", class: "form-label" %>
      <%= form.text_field :city, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :title, "Pincode :", class: "form-label" %>
      <%= form.text_field :pincode, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :title, "Profile summury :", class: "form-label" %>
      <%= form.text_field :profile_summury, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :image, "Upload_image :", class: "form-label" %>
      <%= form.file_field :image %>
    </div>

    <div class="mb-3">
      <%= form.submit "submit", class: "btn btn-primary btn-lg"%>
    </div>
  </div>
<% end %>
  