<%= form_with model: @job, url: post_job_applications_path(@post) do |form| %>
  <div class="container d-flex justify-content-center">
    <div class="mb-3 mt-3">
      <%= form.hidden_field :user_id, value: current_user.id %>
    </div>

    <div class="mb-3">
      <%= form.hidden_field :post_id, value: @post.id %>
    </div>

    <div class="mb-3">
      <%= form.label :resume, "Upload resume :", class: "form-label" %>
      <%= form.file_field :resume %>
    </div>
  </div>

  <div class="container d-flex justify-content-center ">
    <div class="mb-3">
      <%= form.label :status, "status :", class: "form-label" %>
      <%= form.text_field :status, class: "form-control" %>
    </div>
  </div>

  <div class="container d-flex justify-content-center ">
    <div class="mt-3">
      <%= form.submit "Apply Job", class: "btn btn-primary btn-lg" %>
    </div>
  </div>
<% end %>
  