<h1 class="text-center mb-4">Show Your Application</h1>

<div class="container">
  <div class="card">
      <h1>Job Application for: <%= @job.post.title %></h1>
      <h4 class="card-title">Status: <%= @job.status %></h4>
      <h4>Resume: <%= link_to 'Download', @job.resume.url %></h4><br><br>
      <%= link_to 'Back to job page', post_job_applications_path(@job.post_id), class: 'btn btn-primary w-25 ms-3' %>
  </div>
</div>

<% if current_user == @job_application.post.user || current_user.admin? %>
  <h3>Update Status</h3>
  <%= form_with(url: update_status_post_job_application_path(@job.post, @job), method: :patch) do |f| %>
    <%= f.label :status, "Change Status" %>
    <select name="status" id="status">
      <option value="under_review" <%= 'selected' if @job.status == 'under_review' %>>Under Review</option>
      <option value="accepted" <%= 'selected' if @job.status == 'accepted' %>>Accepted</option>
      <option value="rejected" <%= 'selected' if @job.status == 'rejected' %>>Rejected</option>
    </select>
    <%= f.submit "Update Status" %>
  <% end %>
<% end %>
