<h1 class="text-center">Home Page</h1>

<div class="container">
  <div class="card-body">
    <% if user_signed_in? %> 
      <h2 class="card-text">Welcome <%= current_user.email %></h2><br><br>
      <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-danger btn-lg" %>
    <% else %>
      <%= button_to "Sign in", new_user_session_path, class: "btn btn-primary btn-lg" %>
    <% end %>

    <div class="container my-3">
      <% if can? :read, Post %>
        <%= link_to 'Read Posts', posts_path, class: "btn btn-info" %>
      <% end %>

      <% if can? :create, Post %>
        <%= link_to 'Create Post', new_post_path, class: "btn btn-info" %>
      <% end %>

      <% if can? :create, Profile %>
        <%= link_to 'Create Profile', new_profile_path, class: "btn btn-info" %>
      <% end %>

      <% if can? :read, Profile %>
        <%= link_to 'Show All Profiles', profiles_path, class: "btn btn-info" %>
      <% end %>
    </div>
  </div>  
</div>
