<%= form_with model: @post, class: "needs-validation", novalidate: true, local: true do |form| %>
  <div class="container">
    <div class="mb-3">
      <%= form.hidden_field :user_id, value: current_user.id %>
    </div>

    <div class="mb-3">
      <%= form.label :title, "Title:", class: "form-label" %>
      <%= form.text_field :title, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :description, "Description:", class: "form-label" %>
      <%= form.text_field :description, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :salary, "Salary:", class: "form-label" %>
      <%= form.text_field :salary, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :location, "Location:", class: "form-label" %>
      <%= form.text_field :location, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :company_id, "Company:", class: "form-label" %>
      <%= form.collection_select :company_id, Company.all, :id, :name, {include_blank: "Select a company"},  class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.submit "Submit", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
