<h1>All Posts</h1>

<% @posts.each do |post| %>
  <div class = "bg-binary">
    <%= post.title %>
    <%= post.description %>
    <%= post.salary %>
    <%= post.location %>
    <%= link_to 'See Post', post_path(post.id) %>
  </div>
<% end %>

<%= link_to 'Home page', root_path %><br><br>

<% if can? :create, Post %>
<%= link_to 'Create a Post', new_post_path %><br><br>
<% end %>

<% if can? :create, Profile %>
  <%= link_to 'Create a Profile', new_profile_path %>
<% end %>
   