<h1 class="text-center my-4">Show Your Post</h1>

<div class="container mb-4 mt-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><strong>Title:</strong><%= @post.title %></h5>
      <p class="card-text"><strong>Description:</strong> <%= @post.description %></p>
      <p class="card-text"><strong>Salary:</strong> <%= @post.salary %></p>
      <p class="card-text"><strong>Location:</strong> <%= @post.location %></p>

      <div>        
        <% if can? :destroy, Post %>
          <% if current_user == @post.user || current_user.admin?%>
            <%= link_to "Destroy", post_path(@post), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'btn btn-danger' %>
          <% end %>
        <% end %>

        <% if current_user.job_applications.exists?(post_id: @post.id) %>
          <%= link_to "Applied", "#", class: 'btn btn-secondary disabled' %>
        <% else %>
          <% if can? :create, JobApplication %>
            <%= link_to "Apply for Job", new_post_job_application_path(@post), class: 'btn btn-primary' %>
          <% end %>
        <% end %>

        <% if can? :read, Post %>
          <%= link_to 'Back to Posts', posts_path, class: 'btn btn-info' %>
        <% end %>

        <% if can? :read, JobApplication %>
          <% if current_user == @post.user || current_user.admin? || current_user.job_seeker? %>
            <%= link_to 'See Applied Jobs', post_job_applications_path(@post), class: 'btn btn-info' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div> 
